---
import BaseLayout from '../layouts/BaseLayout.astro';
import HomeDestacadas from '../components/HomeDestacadas.astro';
import HomeGeneral from '../components/HomeGeneral.astro';
import HomeLoNuestro from '../components/HomeLoNuestro.astro';
---

<BaseLayout title="El Sumario - Resúmenes de noticias">
  <div class="container">
    <HomeDestacadas />
    <HomeGeneral />
    <HomeLoNuestro />
  </div>
</BaseLayout>
